<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Pencilbag Libreria</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <span class="navbar-text p-2">
                Bienvenido {{nombre}}
            </span>
            <button id="logout" class="btn btn-outline-danger">Logout</button>
        </div>
    </div>
</nav>
<div class="container align-center mt-3">
    <div class="row">
        <div>
            <header class="chat-header">
                <h4><i class="fas fa-smile"></i>Form de Productos:</h4>
            </header>
            <form class="formProducto cont pb-1" id="formProductos" action="{{ruta}}" method="post">
                <ul>
                    <div class="mb-3 pt-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control form-producto" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <input type="text" step="any" class="form-control form-producto" id="descripcion"
                            name="descripcion">
                    </div>
                    <div class="mb-3">
                        <label for="codigo" class="form-label">Codigo</label>
                        <input type="number" class="form-control form-producto" id="codigo" name="codigo" required>
                    </div>
                    <div class="mb-3">
                        <label for="foto" class="form-label">Url Foto</label>
                        <input type="text" class="form-control form-producto" id="foto" name="foto">
                    </div>
                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="number" class="form-control form-producto" id="precio" name="precio" required>
                    </div>
                    <div class="mb-3">
                        <label for="stock" class="form-label">Stock</label>
                        <input type="number" class="form-control form-producto" id="stock" name="stock" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btns">Agregar</button>
                    </div>

                </ul>

            </form>
        </div>
    </div>
</div>